node_modules/
dist/
plugin.zip
*.zip
.DS_Store
build/
*.xcuserdata/
DerivedData/
.swiftpm/
.gradle/
local.properties
.env
OPENCODE_SERVER_PASSWORD
# flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter_version.json
